:root {
    --primary-color: #03101b;
    --following-color: #3c14aa; 
    --next-color: #032a4d;
    --wt: rgb(220, 228, 215);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Style Start */
header {
    color: var(--next-color);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: 75%;
    padding: 40px 35px;   
    padding-right: 100px;
    padding-left: 50px;
}

header::after {
    content: "";
    background-image: url(../images/neon-sky.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: -95px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

header h1 {
    text-align: center;
   
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header ul {
    font-weight: bold;
    display:inline;
    margin: 0;
}

header ul:hover {
    text-decoration: underline;
    color: var(--wt);
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 45px 30px auto;
    font-size: 22px;
   
}

/* About me Article style */
.main {
    display: flex;
    flex-direction: row;
    color: var(--next-color);
    margin: auto;
    width: auto;
}

.myphoto img {
  width: 35%;  
}

.aboutme {
    color: var(--next-color);
    background-position: 75%;
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    width: auto;
}

.aboutme::after {
    content: "";
    background-image: url(../images/neon-sky.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: -95px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.aboutme h3 {
    text-align: start;
    padding-left: 280px;
}

.aboutme div p {
    color: var(--next-color);
    text-align:left;
}

.center {
    text-align: center;
}

/* My work style */
.towork {
    color: var(--primary-color);
}

.mywork {
    display: flex;
    justify-content: space-between;
}

.mywork a {
    color: var(--primary-color);
}

.mywork img {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 5px;
    width: 100px;  
    margin: auto;
    min-height: 75px;
}

img:hover {
    background-color: yellow;
}

/* resume section style */

.resume {
    color: var(--wt);
    background-image: url(../images/ladder_stage_railing_grab.jpg);
    background-position: 25%;
    margin: auto;
}

.resume h3 {
    background-color: rgb(83, 83, 83);
}

.resume a {
    color: var(--primary-color);
    text-decoration: none;
}

/* footer style */
footer {
    background-color: rgb(83, 83, 83);
    padding: 25px 15px;
    color: var(--next-color);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: auto;
}

.link a {
    color: var(--primary-color);
}