:root {
    --primary-color: #F0F8FF;
    --following-color: #A6B1E1; 
    --next-color: #F8F8FF;
    --plum-color: #dda0dd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/black-white-circle.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 25%;
    padding: 40px 35px;
    
   
}

header h1 {
    text-align: center;
   
}

header a {
    text-decoration: none;
    color: var(--following-color);
}

header nav {
    float: right;
    margin: 7px 0;
}

header ul {
    font-weight: bold;
    display:inline;
    margin: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 45px 30px auto;
    font-size: 22px;
   
}

.main {
    display: flex;
    flex-direction: row;
    color: var(--following-color);
    margin: auto;
    width: auto;
}

.aboutme {
    font-family: Arial, Helvetica, sans-serif; 
    color: var(--next-color);
    padding: 60px 85px
    display: flex;
    text-align: center;
    background-image: url("../images/bluebonnet.jpg");
    background-attachment: fixed;
    background-position: 50%;
    margin: 25px 0;
    padding: 10px 0;
}

.aboutme h3 {
    text-align: left;
}

.aboutme div p {
    color: var(--plum-color);
    text-align: right;
}
